%table.table.table-hover#info_table{ style: 'margin-top: 20px;' }
  %tbody
    %tr
      %td
        %strong Email
      %td
        = mail_to tourist.email
      %td
    %tr
      %td
        %strong Year of Birth
      %td
        = tourist.year_of_birth
      %td
    %tr
      %td
        %strong Translator
      %td
        = tourist.translator
      %td
    %tr
      %td
        %strong Tour Guide
      %td
        = tourist.tour_guide
      %td
