%table.table.table-hover#info_table{ style: 'margin-top: 20px;' }
  %tbody
    %tr
      %td
        %strong Email
      %td
        = user.email
      %td
    %tr
      %td
        %strong Agency
      %td
        = user.agency.name
      %td
    
